<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智慧农业大数据</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/china.js"></script>
</head>
<body style="width:960px; height:200px;background-color:#333333" >
    <div id="title">智慧农业大数据展示</div>
    <div id="left1" style="width:350px; height:350px; left:50px;top:50px">
        <div class="num">
            <h1 style="color: white">基本信息</h1>
            <a style="color: aquamarine">建筑面积：1168亩&nbsp;&nbsp;农户总数：867户</a>
            <br>
            <br>
            <a style="color: aquamarine">人口总数：13万&nbsp;&nbsp;年总产值：680万</a>
            <br>
            <br>
            <a style="color: aquamarine">年总产值：4651万&nbsp;&nbsp;年总产值：4546万</a>
        </div>
    </div>
    <div id="left2" style="width:350px; height:350px; left:50px;top:380px"></div>
    <div id="left3" style="width:350px; height:350px; left:1100px;top:40px"></div>
    <div id="center2" style="width:650px; height:550px; left:400px;top:150px"></div>
    <div id="center3" style="width:350px; height:350px; left:1100px;top:370px"></div>
    <script src="../static/js/left2.js"></script>
    <script src="../static/js/left3.js"></script>
    <script src="../static/js/center2.js"></script>
    <script src="../static/js/center3.js"></script>
</body>
</html>